* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Creepster', cursive;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
nav > h2 {
  font-size: 4rem;
  letter-spacing: 0.7rem;
}

nav > .scoreboard {
  font-size: 2rem;
  text-align: end;
}

.Cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto 0 auto;
}

img {
  max-width: 230px;
  max-height: 230px;
}



.card {
  color: white;
  background-color: black;
  font-size: 1.4rem;
  font-family: 'Teko', sans-serif;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 1rem;
}
